%footer
  .privacy
    %a{:href=> privacy_path, :tabindex=> 0}
      Privacy
  .contact
    %h3
      Get in Touch
    %ul.by
      %li.email
        %a{:href=> 'mailto:brotherclone@gmail.com', :tabindex=> 0}
          %i.fas.fa-envelope-square{:alt=> 'an email envelope icon'}
      %li.linked-in
        %a{:href=> 'https://www.linkedin.com/in/gabrielwalsh/', :tabindex=> 0}
          %i.fab.fa-linkedin{:alt=> 'a Linked-In icon'}
