%nav{:vocab => 'https://schema.org/', :typeof=> 'person'}
  .navigation-inner
    .candidate
      %h1.name{:property => 'name'}
        %a{:href=> home_path}
          Gabriel Walsh
      %h2.occupation{:property => 'hasOccupation'}
        UX Architect | Creative Technologist
      %span{ :property=> 'hasOfferCatalog'}
      %ul.about{:vocab=>'https://schema.org/', :typeof=>'Service'}
        %li{:property=> 'serviceType', :content=> 'Prototyping'}
          %a{ :href=> prototyping_path,:tabindex => 0}
            Prototyping
        %li{:property=> 'serviceType', :content=> 'User Centric Design'}
          %a{ :href=> portfolio_path,:tabindex => 0}
            Portfolio
        %li{:property=> 'serviceType', :content=> 'Creative Technology'}
          %a{ :href=> resume_path,:tabindex => 0}
            Résumé
    .portrait
      %img{:src=> 'https://via.placeholder.com/180.jpg?Portrait', :alt=> "Portrait of Gabriel Walsh."}
    %a{:href=> '#', :data=>{:target=>'.side-nav', :toggle=>'collapse'}}
      %i.fa.fa-bars