%a.skip-navigation.sr-only-focusable{ :tabindex => 0, :href=> "#skip"} Skip Navigation
%nav.navbar.gabriel-walsh-navigation
  .heading-alignment
    %h1.name
      Gabriel Walsh
    %h2.occupation
      UX Architect | Creative Technologist
    %ul.navbar-nav
      %li.nav-item
        %a.nav-link{ :href=> '#',:tabindex => 0}
          Prototyping
      %li.nav-item
        %a.nav-link{ :href=> '#',:tabindex => 0}
          Portfolio
      %li.nav-item
        %a.nav-link{ :href=> '#',:tabindex => 0}
          Résumé
  .portrait-alignment
    %img.portrait{:src=> 'https://via.placeholder.com/180.jpg?Portrait', :alt=> "Portrait of Gabriel Walsh."}