.side-nav.collapse.width
  %ul.side-nav-menu{:id=> 'sidenav'}
    %li
      Gabriel Walsh
    -#%li
    -#  %a{:data=>{:parent=>'sidenav'}, :href=> prototyping_path, :tabindex => 0}
    -#    Prototyping
    %li
      %a{:data=>{:parent=>'sidenav'}, :href=> portfolio_path, :tabindex => 0}
        Portfolio
    %li
      %a{:data=>{:parent=>'sidenav'}, :href=> resume_path, :tabindex => 0}
        Résumé
