@import "styles/break-points.module";
main.container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

article.reading{
  padding: 1rem;
  h1{
    font-size: 4rem;
    margin: 0 0 0 1rem;
    padding: 0;
  }
  p{
    padding: 1rem;
    font-family: nobel, sans-serif;
    font-weight: 200;
    font-size: 1.5rem;
    font-style: normal;
  }
  @include breakpoint('lg'){
    max-width: 50%;
    padding: 0;
  }
}