// Wasibi Suicide Plus
$midnite: #20201f;
$faded-white: #F0F2EB;
$rock-tumble: #E1EDB9;
$wasabi: #D4EE5E;
$macha: #F4FAD2;
$faded-red: #FF4242;
$faded-blue: #34a0a4;

$white:    $faded-white;
$gray-100: #dbddd6;
$gray-200: #c6c8c2;
$gray-300: #b1b3ad;
$gray-400: #9d9e99;
$gray-500: #888985;
$gray-600: #737471;
$gray-700: #5e5f5c;
$gray-800: #4a4a48;
$gray-900: #343533;
$black:    $midnite;
