@mixin texture($bg-color, $texture-number, $repeating-horizontal:1){
  $textures: "menu-open-bg.png", "notebook_@2X.png";
  @if ($repeating-horizontal == 1){
    background: transparentize($bg-color, 0.5) image_url("textures/#{nth($textures, $texture-number)}") repeat;
  }
  @else{
    background: transparentize($bg-color, 0.5) image_url("textures/#{nth($textures, $texture-number)}") repeat-y;
  }
}