%h1 Listing organization_types

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @organization_types.each do |organization_type|
      %tr
        %td= link_to 'Show', organization_type
        %td= link_to 'Edit', edit_organization_type_path(organization_type)
        %td= link_to 'Destroy', organization_type, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Organization type', new_organization_type_path
