.educationalContainer{
  border: 1px solid darkviolet;
  .educationalInstitutionLogo{
    border: 1px solid darkviolet;
  }
  .educationalInstitution{
    border: 1px solid darkviolet;
  }
  .educationalDegree{
    border: 1px solid darkviolet;
  }
  .educationalDescription{
    border: 1px solid darkviolet;
  }
}