.skillContainer{
  border: 1px solid orange;
  .skillName{
    border: 1px solid purple;
  }
  .skillYears{
    border: 1px solid purple;
  }
  .skillCategory{
    border: 1px solid purple;
  }
  .skillDescription{
    border: 1px solid purple;
  }
}