%section.home
  = render :partial => "components/home-visual"
  .latest-projects-heading
    .latest-projects
      .title
        %h2
          Latest Projects
      .see-more
        %a{:href=> portfolio_path }
          See All
    %hr
  .case-study-promo-cards
    - @case_study_cards.each do |card|
      = render :partial => "components/case-study-card", :locals => {:card => card}