%h1
  Résumé
%section
  %h2
    Experience
    - @jobs.each do |job|
      .job{:itemscope=>true, :itemtype=>'https://schema.org/Organization'}
        .logo
          %img{:src=> job.organization.logo, :alt=> job.organization.name + " logo" }
        .info
          %h3.job-role{:itemprop=> "member", :itemscope=> true, :itemtype=>"https://schema.org/OrganizationRole"}
            %span.title{:itemprop=> "roleName"}
              = succeed ',' do
                =job.title
            %span.organization{:itemprop=> "name"}
              =job.organization.name
          %h3
            %span.location{:itemprop=> "location"}
              =job.organization.location
            %span.start-date{:itemprop=> "startDate"}
              = job.start_date.strftime("%Y")
            %span.end-date{:itemprop=> "endDate"}
              =job.end_date.strftime("%Y")
          %p.description
            %span.responsibilities{:itemprop=> "potentialAction"}
              =job.responsibilities.html_safe
            %span.description{:itemprop=> "description"}
              =job.accomplishments.html_safe
%section{:itemscope=> true, :itemtype=> "https://schema.org/JobPosting"}
  %h2
    Skills
    %ul{:itemprop=> "qualifications"}
    - @skills.each do |skill|
      %li{:itemprop => "skill"}
        = skill.name
%section{:itemscope=> true, :itemtype=> "https://schema.org/EducationalOccupationalCredential"}
  %h2
    Education
  %h3{:itemprop=>"educationalLevel", :itemscope=>true, :itemtype=> "https://schema.org/DefinedTerm"}
    %span{:itemprop=>"name"}
      State University of New York at Purchase
  %h4
    %span{:itemprop=>"degree"}
      BFA,
    %span{:itemprop=>"department"}
      Film Summa Cum Laude
  %h5 1993-1997
  %ul
    %li{:itemprop=>"award"}
      King Scholarship for Film Studies
    %li{:itemprop=>"award"}
      Tara Wyme Technicolor Award
    %li{:itemprop=>"award"}
      Torrell Post-Production Award
    %li{:itemprop=>"award"}
      Film Department Achievement Award
