%h1
  Resume
  %h2
    %span
      Sr. UX Architect
    %span
      Moleskine
  %h3
    %span
      Milan, Italy
    %span
      2017
    %span
      Present
  %p
    UX Design and Product Development on Digital-Physical consumer products with a focus on bringing cognitive computing into the creative process.