footer{
  padding: 2rem;
  height: $footer-height;
  max-height: $footer-height;
  @include make-row();
  .privacy{
    @include make-col(1);
  }
  .contact{
    @include make-col-offset(10);
    @include make-col(1);
    h3{
      text-align: right;
      font-size: 1rem;
      font-weight: 600;
    }
    ul.by{
      float: right;
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-direction: row;
      li{
        padding: 0;
        margin: 0 0 0 0.5rem;
        i{
          font-size: 1.75rem;
        }
      }
    }
  }
}