.skip-navigation{
  @include sr-only();
  @include sr-only-focusable();
  position: absolute !important;
  margin-top: -1000px !important;
  height: 0 !important;
  &:focus, :focus-within, :focus-visible{
    position: relative !important;
    margin: initial !important;
    height: initial !important;
  }
}
nav{
  @include make-container();
  margin-bottom: 2rem;
  .navigation-inner{
    @include make-row();
    .candidate{
      @include make-col(10);
      h1.name{
        font-size: 3rem;
        font-weight: 200;
        margin: 0;
        padding: 0;
      }
      h2.occupation {
        font-size: 2rem;
        font-weight: 600;
        margin: 0;
        padding: 0;
      }
    }
    .about{
      display: flex;
      align-content: space-between;
      flex-direction: row;
      list-style: none;
      margin: 0.5rem 0 0 0;
      padding: 0;
      li{
        font-weight: 200;
        font-size: 1.5rem;
        margin: 0 2rem 0 0;
        a:hover{
          cursor: pointer;
        }
      }
    }
    .portrait{
      @include make-col(2);
      visibility: visible;
      img{
        @include img-fluid();
      }
      @media (max-width: 768px) {
        visibility: hidden;
      }
    }
  }
}