@import "../../../node_modules/bootstrap/scss/bootstrap";

.skip-navigation{
  @include sr-only();
  @include sr-only-focusable();
  position: absolute !important;
  margin-top: -1000px !important;
  height: 0 !important;
  &:focus, :focus-within, :focus-visible{
    position: relative !important;
    margin: initial !important;
    height: initial !important;
  }
}
nav.meet-the{
  @include make-row();
  .candidate{
    @include make-col(4);
    h1.name{
      font-family: nobel, sans-serif;
      font-size: 3rem;
      font-weight: 200;
      margin: 0;
      padding: 0;
    }
    h2.occupation {
      font-family: nobel-condensed, sans-serif;
      font-size: 2rem;
      font-weight: 600;
      margin: 0;
      padding: 0;
    }
  }
  .learn-about{
    display: flex;
    align-content: space-between;
    flex-direction: row;
    list-style: none;
    margin: 0.5rem 0 0 0;
    padding: 0;
    .his, .and-his{
      font-family: nobel, sans-serif;
      font-weight: 200;
      font-size: 1.5rem;
      margin: 0 2rem 0 0;
      a:hover{
        cursor: pointer;
      }
    }
  }
  .he-looks-like-this{
    text-align: right;
    @include make-col(2);
    @include make-col-offset(6);
    visibility: visible;
    img{
      @include img-fluid();
    }
    @media (max-width: 768px) {
      visibility: hidden;
    }
  }
}
